@id("manager")
permit
(
 principal == Jans::Role::"Manager",
 action in [Jans::Action::"Monitor",Jans::Action::"Search",Jans::Action::"Write"],
 resource == Jans::Application::"ManagerPortal"
)
when
{
 Jans::Access_token::"abc".scope=="abc" && Jans::id_token::"idxxx".amr == "idxxx"  
};