@id("admin")
permit
(
 principal == Jans::User::"Admin",
 action in [Jans::Action::"Read",Jans::Action::"Tag"],
 resource in Jans::Application::"AdminPortal"
)
when
{
 Jans::Access_token::"abc".scope == "abc"  
};