@id("admin access")
permit
(
 principal == Jans::Role::"Admin",
 action,
 resource == Jans::Application::"Admin"
)
when
{
 Jans::Access_token::"abc".scope=="abc"  
};