@id("admin access")
        permit
        (
      principal == Jans::Role::"Admin",
      action,
      resource
      )
        when {Jans::Access_token::"abc".scope=="asd" && Jans::Access_token::"xxx".scope == "xxx" };
      